div {
    border: thin solid black;
}

p {
    color: blue;
} 

p.main {
    color: red;
} 

p.orange {
    color: orange;
}  

p.title {
    color: white; 
    font-style: normal;
} 

p.content {
    color: white;
    font-style: oblique;
}

.first {
    font-size: 125%;
} 

p.important {
    font-weight: bold;
    font-style: normal;
} 

div.main {
    background-color: #000000;
}