p.gold {
    color: gold;
}

p.white {
    color: white; 
} 

p > span {
    color: red;
} 

p.orrd {
    color: #FF4500;
}  

#d2-2 {
    background-color: #FFFDD0;
    height: 650px; 
    border: thick solid #B0E0E6;
} 

#m_p1 {
    font-style: oblique;
} 

#normal {
    font-style: normal;
}   

li:hover {
    background: pink; 
} 

img {
    height: 150px;
    width: 150px; 
} 

img:hover {
    width: 250px;  
    height: 250px;
    background: red;
} 

select:hover {
    width: 50px;
    height: 50px;

} 

#normal1 {
    font: normal;
}



